@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

body {
  margin: 1rem;
  font-family: 'Fuzzy Bubbles';
  text-align: center;
  background-color: #FFAFAF;
}

h1 {
  font-size: 4rem;
}

button {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

footer {
  padding: 2rem;
}

.butcherPig {
  width: 12rem;
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #FFEBCC;
  color: #FF9999;
  border-radius: .5rem;
  padding: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-family: 'Fuzzy Bubbles';
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
